<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Violência Urbana</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <h1>Visualização de Dados - Violência Urbana</h1>

    <div>
      <label for="regiao">Filtrar por Região:</label>
      <select id="regiao" onchange="filtrarDados()">
        <option value="">Todas</option>
      </select>

      <label for="sexo">Filtrar por Sexo:</label>
      <select id="sexo" onchange="filtrarDados()">
        <option value="">Todos</option>
      </select>

      <label for="natureza">Filtrar por Natureza:</label>
      <select id="natureza" onchange="filtrarDados()">
        <option value="">Todas</option>
      </select>
    </div>

    <canvas id="grafico" width="600" height="210"></canvas>

    <h2 class="heading">Tabela de Dados</h2>
    <div class="table-container">
      <table id="tabela">
        <thead>
          <tr>
            <th>
              Município<br />
              <input
                type="text"
                onkeyup="filtrarTabela()"
                class="filtro"
                data-col="0"
              />
            </th>
            <th>
              Região<br />
              <select onchange="filtrarTabela()" class="filtro" data-col="1">
                <option value="">Todos</option>
                <option value="Agreste">Agreste</option>
                <option value="Capital">Capital</option>
                <option value="Região Metropolitana">
                  Região Metropolitana
                </option>
                <option value="Sertão">Sertão</option>
                <option value="Zona da Mata">Zona da Mata</option>
              </select>
            </th>
            <th>
              Sexo<br />
              <select onchange="filtrarTabela()" class="filtro" data-col="2">
                <option value="">Todos</option>
                <option value="Desconhecido">Desconhecido</option>
                <option value="Masculino">Masculino</option>
                <option value="Feminino">Feminino</option>
              </select>
            </th>
            <th>
              Natureza Jurídica<br />
              <select onchange="filtrarTabela()" class="filtro" data-col="3">
                <option value="">Todos</option>
                <option value="Homicidio">Homicidio</option>
                <option value="Feminicidio">Feminicidio</option>
                <option value="Latrocinio">Latrocinio</option>
                <option value="Lesões corporais seguida de morte">
                  Lesões corporais seguida de morte
                </option>
              </select>
            </th>
            <th>
              Data<br />
              <input
                type="date"
                id="data-inicial"
                onchange="filtrarTabela()"
                style="width: 100px"
              /><br />
              <input
                type="date"
                id="data-final"
                onchange="filtrarTabela()"
                style="width: 100px"
              />
            </th>
            <th>
              Idade<br />
              <select
                onchange="filtrarTabela()"
                class="filtro"
                data-col="5"
                data-tipo="faixa-etaria"
              >
                <option value="">Todas</option>
                <option value="1-17">1-17</option>
                <option value="18-29">18-29</option>
                <option value="30-39">30-39</option>
                <option value="40-49">40-49</option>
                <option value="50-59">50-59</option>
                <option value="60-69">60-69</option>
                <option value="70-79">70-79</option>
                <option value="80-89">80-89</option>
                <option value="90-150">90+</option>
              </select>
            </th>
          </tr>
        </thead>

        <tbody></tbody>
      </table>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
